extends layout

block content
    .container
        h1 Applicants
        
        ul#applications.list-unstyled
            for applicant in applicants
                li
                    h4
                        a(href="/applicants/#{applicant._id}")= applicant.name
                    a(href="/applicants/delete/#{applicant._id}").delete-applicant Delete
                    hr